
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin:  0px;
}

:root {
    --primary-color:#1C1C1E;
    --secondary-color: #8E8E93;
    --body-fonts: "Inter", sans-serif;
    --button-color: #F3BD00;
    /* --width-size: 440px; */

}

/* Login page start */


.login-page {
    display: flex;
    align-items: center;
    height: 100vh;
}

.login-image {
    flex: 1;
    text-align: center;
    margin: auto 0;
}

.login-image img {
    width: 500px;
}

.login {
    flex: 1;
    text-align: left;
    margin: auto 0;
    width: 440px;
    height: 512px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.login-section{
    width: 440px;
    height: 65px;
    gap: 8px;
}

.login-enter {
    width: 87px;
    height: 38px;
    font-family: var(--body-fonts);
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--primary-color);
}

.login-details {
    width: 240px;
    height: 19px;
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--secondary-color);
}

.login-type {
    display: flex;
    flex-direction: column;
    margin: 2px;
    width: 440px;
    height: 81px;
    gap: 6px;
}

.label-field span {
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: red;
}

.input-field{
    height: 51px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #8E8E93;
    justify-content: space-between;
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.label-field {
    text-align: left;
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #1C1C1E;
}

.login-button {
    width: 440px;
    height: 43px;
}

.login-button button{
    width: 440px;
    height: 43px;
    padding: 12px 24px;
    border-radius: 100px;
    /* animation-duration: 0ms; */
    background-color: var(--button-color);
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 500;
    line-height: 19.2px;
    color: var(--primary-color);
    border: none;
}

.google-signup button {
    width: 440px;
    height: 60px;
    padding: 16px 20px 16px 20px;
    gap: 8px;
    border-radius: 8px;
    background-color:#FEFEFE;
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
}

.login-signup {
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #344054;
    text-align: center;
}

.login-signup span a {
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color:#0948B4;
}

/* Login page end */

/* Signup page start */
.signup-page {
    display: flex;
    margin: 150px 100px;
    gap: 100px;
}

.signup-image {
    width: 510px;
    height: 529px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    width: 440px;
    height: 642px;
    margin: 100px;
    margin-top: 10px;
}

.signup-type {
    width: 440px;
    height: 65px;
    gap: 8px;
}

.signup-enter {
    width: 110px;
    height: 38px;
    font-family: var(--body-fonts);
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: var(--primary-color);
}

.signup-details {
    width: 115px;
    height: 19px;
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--secondary-color);
}

.signup-type label {
    width: 83px;
    height: 19px;
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--primary-color)
}

.signup-button button {
    width: 440px;
    height: 43px;
    padding: 12px 24px 12px 24px;
    gap: 4px;
    border-radius: 100px;
    background-color: var(--button-color);
    border: none;
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

.signup-accept {
    width: 437px;
    height: 14px;
    margin-left: 150px;
}

/* .signup-accept input {
    width: 161px;
    height: 14px;
} */

.signup-accept label {
    width: 161px;
    height: 14px;
    font-family: var(--body-fonts);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
}

.signup-accept label span {
    color: #0948B4;
}

.signup-login{
    width: 200px;
    height: 19px;
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--secondary-color);
}

.signup-login span a {
    font-family: var(--body-fonts);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #0948B4;

}

/* Signup page end */


